# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\nucleo_stm32f446re_clion_StdPeriph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
